@model VendorProcessManagerV1.ViewModels.CreateProcessTemplateTaskViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProcessTemplateTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="ProcessTemplateId" />
            <input type="hidden" asp-for="TemplateName"/>
                        
           
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproverId" class="control-label">Approver</label>
                <select asp-for="ApproverId" 
                        asp-items="Model.ApproverOptions" 
                        class="form-control">
                    <option value="">--No approver --</option>
                    </select>
                <span asp-validation-for="ApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproverTeam" class="control-label"></label>
                <input asp-for="ApproverTeam" class="form-control" />
                <span asp-validation-for="ApproverTeam" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApprovalRequired" /> @Html.DisplayNameFor(model => model.ApprovalRequired)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SortOrder" class="control-label"></label>
                <input asp-for="SortOrder" class="form-control" />
                <span asp-validation-for="SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultOwnerRole" class="control-label"></label>
                <input asp-for="DefaultOwnerRole" class="form-control" />
                <span asp-validation-for="DefaultOwnerRole" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Save Task</button>
            <a asp-action="Details" asp-controller="ProcessTemplates"
            asp-route-id="@Model.ProcessTemplateId"
            class="btn btn-secondary">Cancel</a>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
