@model VendorProcessManagerV1.Models.ProcessTemplateTask

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ProcessTemplateTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TemplateID" class="control-label"></label>
                <input asp-for="TemplateID" class="form-control" />
                <span asp-validation-for="TemplateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskId" class="control-label"></label>
                <input asp-for="TaskId" class="form-control" />
                <span asp-validation-for="TaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproverId" class="control-label"></label>
                <input asp-for="ApproverId" class="form-control" />
                <span asp-validation-for="ApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproverTeam" class="control-label"></label>
                <input asp-for="ApproverTeam" class="form-control" />
                <span asp-validation-for="ApproverTeam" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApprovalRequired" /> @Html.DisplayNameFor(model => model.ApprovalRequired)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SortOrder" class="control-label"></label>
                <input asp-for="SortOrder" class="form-control" />
                <span asp-validation-for="SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultOwnerRole" class="control-label"></label>
                <input asp-for="DefaultOwnerRole" class="form-control" />
                <span asp-validation-for="DefaultOwnerRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
