@model VendorProcessManagerV1.Models.ProcessTaskTransition

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProcessTaskTransition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProcessInstanceId" class="control-label"></label>
                <input asp-for="ProcessInstanceId" class="form-control" />
                <span asp-validation-for="ProcessInstanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessTemplateTrasitionId" class="control-label"></label>
                <input asp-for="ProcessTemplateTrasitionId" class="form-control" />
                <span asp-validation-for="ProcessTemplateTrasitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromProcessStepId" class="control-label"></label>
                <input asp-for="FromProcessStepId" class="form-control" />
                <span asp-validation-for="FromProcessStepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToProcessStepId" class="control-label"></label>
                <input asp-for="ToProcessStepId" class="form-control" />
                <span asp-validation-for="ToProcessStepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionUserId" class="control-label"></label>
                <input asp-for="ActionUserId" class="form-control" />
                <span asp-validation-for="ActionUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionDate" class="control-label"></label>
                <input asp-for="ActionDate" class="form-control" />
                <span asp-validation-for="ActionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionValue" class="control-label"></label>
                <input asp-for="ActionValue" class="form-control" />
                <span asp-validation-for="ActionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
