@model VendorProcessManagerV1.Models.ProcessTask

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ProcessTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartedDate" class="control-label"></label>
                <input asp-for="StartedDate" class="form-control" />
                <span asp-validation-for="StartedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedDate" class="control-label"></label>
                <input asp-for="CompletedDate" class="form-control" />
                <span asp-validation-for="CompletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" class="form-control" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproverTeam" class="control-label"></label>
                <input asp-for="ApproverTeam" class="form-control" />
                <span asp-validation-for="ApproverTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approver" class="control-label"></label>
                <input asp-for="Approver" class="form-control" />
                <span asp-validation-for="Approver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproveDate" class="control-label"></label>
                <input asp-for="ApproveDate" class="form-control" />
                <span asp-validation-for="ApproveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproveStatus" class="control-label"></label>
                <input asp-for="ApproveStatus" class="form-control" />
                <span asp-validation-for="ApproveStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessTaskStatus" class="control-label"></label>
                <input asp-for="ProcessTaskStatus" class="form-control" />
                <span asp-validation-for="ProcessTaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApprovalRequired" /> @Html.DisplayNameFor(model => model.ApprovalRequired)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
